
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_About.cshtml";
}

<div class="container">
    <div class="card-stack">
        <a class="buttons prev" href="#" draggable="false" style="cursor:default">
            <
        </a>
        <ul class="card-list">

            <li class="card" id="fifth" style="background-color: rgb(151, 151, 151);">
                <div class="box">
                    <h3 draggable="false">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, beatae molestias veniam atque at modi, dolore ratione suscipit consequatur possimus molestiae magni placeat necessitatibus recusandae commodi dolor? Maiores, debitis Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Veritatis esse, nisi deleniti ratione odit velit dolor molestiae vel perferendis et. Beatae eveniet, qui provident incidunt officiis delectus perspiciatis quos nemo Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Doloremque animi sapiente inventore voluptates iste, corporis similique quasi reprehenderit velit maxime! Culpa commodi reprehenderit quisquam enim perferendis. Quaerat at
                    </h3>
                </div>

            </li>
            <li class="card" id="fourth" style="background-color: rgb(151, 151, 151);">
                <div class="box">
                    <h3 draggable="false">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, beatae molestias veniam atque at modi, dolore ratione suscipit consequatur possimus molestiae magni placeat necessitatibus recusandae commodi dolor? Maiores, debitis Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Veritatis esse, nisi deleniti ratione odit velit dolor molestiae vel perferendis et. Beatae eveniet, qui provident incidunt officiis delectus perspiciatis quos nemo Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Doloremque animi sapiente inventore voluptates iste, corporis similique quasi reprehenderit velit maxime! Culpa commodi reprehenderit quisquam enim perferendis. Quaerat at
                    </h3>
                </div>

            </li>
            <li class="card" id="third" style="background-color: rgb(151, 151, 151);">
                <div class="box">
                    <h3 draggable="false">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, beatae molestias veniam atque at modi, dolore ratione suscipit consequatur possimus molestiae magni placeat necessitatibus recusandae commodi dolor? Maiores, debitis Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Veritatis esse, nisi deleniti ratione odit velit dolor molestiae vel perferendis et. Beatae eveniet, qui provident incidunt officiis delectus perspiciatis quos nemo Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Doloremque animi sapiente inventore voluptates iste, corporis similique quasi reprehenderit velit maxime! Culpa commodi reprehenderit quisquam enim perferendis. Quaerat at
                    </h3>
                </div>

            </li>
            <li class="card" id="second" style="background-color: rgb(151, 151, 151);">
                <div class="box">
                    <h3 draggable="false">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, beatae molestias veniam atque at modi, dolore ratione suscipit consequatur possimus molestiae magni placeat necessitatibus recusandae commodi dolor? Maiores, debitis Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Veritatis esse, nisi deleniti ratione odit velit dolor molestiae vel perferendis et. Beatae eveniet, qui provident incidunt officiis delectus perspiciatis quos nemo Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Doloremque animi sapiente inventore voluptates iste, corporis similique quasi reprehenderit velit maxime! Culpa commodi reprehenderit quisquam enim perferendis. Quaerat at
                    </h3>
                </div>

            </li>
            <li class="card" id="first" style="background-color: rgb(151, 151, 151);">
                <div class="box">
                    <h3 draggable="false">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, beatae molestias veniam atque at modi, dolore ratione suscipit consequatur possimus molestiae magni placeat necessitatibus recusandae commodi dolor? Maiores, debitis Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Veritatis esse, nisi deleniti ratione odit velit dolor molestiae vel perferendis et. Beatae eveniet, qui provident incidunt officiis delectus perspiciatis quos nemo Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Doloremque animi sapiente inventore voluptates iste, corporis similique quasi reprehenderit velit maxime! Culpa commodi reprehenderit quisquam enim perferendis. Quaerat at
                    </h3>
                </div>
                <div class="boxx">
                    <div class="video"></div>
                    <div class="video-1">
                    </div>
                    <div class="video-2">
                    </div>
                    <div class="video-3">
                    </div>
                </div>
            </li>



        </ul>
        <a class="buttons next" href="#" draggable="false" style="cursor:default">></a>
    </div>

</div>


