
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="boxContainer">
	@for (int i = 0; i < 4; i++)
	{
		<a href="">
			<div class="box"></div>
		</a>
	}
	
	
</div>
