<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
	<!-----------------CSS--------------->
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/About.css">


	<!-----------------FONT-------------->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
	@RenderBody();




	<IamNotClever>
		<div class="details"></div>
	</IamNotClever>


	@RenderSection("Scripts", required: false);
	<script src="/js/jquery2.1.3.js"></script>
	<script src="js/About.js"></script>
	<script>
		var $card = $(".card");
		var lastCard = $(".card-list .card").length - 1;

		$(".next").click(function () {
			var prependList = function () {
				if ($(".card").hasClass("activeNow")) {
					var $slicedCard = $(".card")
						.slice(lastCard)
						.removeClass("transformThis activeNow");
					$("ul").prepend($slicedCard);
				}
			};
			$("li")
				.last()
				.removeClass("transformPrev")
				.addClass("transformThis")
				.prev()
				.addClass("activeNow");
			setTimeout(function () {
				prependList();
			}, 150);
		});

		$(".prev").click(function () {
			var appendToList = function () {
				if ($(".card").hasClass("activeNow")) {
					var $slicedCard = $(".card").slice(0, 1).addClass("transformPrev");
					$(".card-list").append($slicedCard);
				}
			};

			$("li")
				.removeClass("transformPrev")
				.last()
				.addClass("activeNow")
				.prevAll()
				.removeClass("activeNow");
			setTimeout(function () {
				appendToList();
			}, 150);
		});
	</script>
</body>

</html>
